@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html {
    background-color: #988D7C;
}

main {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.content-container {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 350px;
    height: 400px;
    background-color: #fff;
    margin: 50px;
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .card-body {
    width: 100%;
    height: 100%;
    top: 100%;
    right: 0;
    position: absolute;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all ease 0.5s;
}

.card h1 {
    color: #483420;
    font-family: 'Playfair Display', serif;
}

.card p {
    width: 90%;
    font-size: 13px;
}


.card-btn {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid #483420;
    background: transparent;
    border-radius: 50px;
    
    filter: opacity(0.5) drop-shadow(0 0 0 #483420);
    -webkit-filter: invert(0%);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -o-transition: all ease .5s;
}

.card-btn:hover {
    border: 1px solid transparent;
    transform: rotate(180deg);
    background: #483420;
    filter: opacity(1);
}

.card-btn:hover img {
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -webkit-filter: invert(100%);
}

.card:hover .card-body {
    backdrop-filter: blur(2px);
    top: 0;
}