#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}
.blog-box {
    display: block;
    width: 350px;
    background-color: var(--card-background);
    border: 1px solid white;
    /* border-radius: 10px; */
    margin: 10px;
}
.blog-box:hover {
    border: 2px solid var(--curtain-color);
}
.blog-box a {
    text-decoration: none;
}
.blog-img {
    width: 100%;
    height: auto;
}
.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.blog-text span {
    color: black;
    font-size: 0.8rem;
}
.blog-text .blog-title{
    margin: 0;
}
.blog-text .blog-title:hover{
    color: #988D7C;
    transition: all ease 0.3s;
} 
.blog-text p {
    color: black;
    opacity: 0.7;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-box:hover p {
    opacity: 1;
}
.blog-text a {
    color: black;
}
.blog-text a:hover{
    color: #9b9b9b;
    transition: all ease 0.3s;
    cursor: pointer;
}

.searchbar-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 2% auto;
    padding: 0;
    background: #faf3ee;
    height: 150px;

    outline: dashed 2px black;
}

.input-container {
    width: 90%;
    position: relative;
    margin: 0 auto;
  }
  
  .icon {
    position: absolute;
    right: 10px;
    top: calc(50% + 5px);
    transform: translateY(calc(-50% - 5px));
  }
  
  .input {
    width: 100%;
    height: 40px;
    padding: 5px 0;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
  }
  
  .input-container:hover > .icon {
    animation: anim 1s linear infinite;
  }
  
  @keyframes anim {
    0%,
    100% {
      transform: translateY(calc(-50% - 5px)) scale(1);
    }
  
    50% {
      transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
  }