@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.menu-hamburger::before,
.menu-hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background: #483420;
    border-radius: 50px;
    transition: all ease 0.5s;
}

.menu-hamburger::before {
    transform: translate(-12px, -8px);
}

.menu-hamburger::after {
    transform: translate(-12px, 3px);
}

.menu-btn:hover {
    transform: rotate(90deg);
    transition: all ease 0.5s;
}

.buy-souvenirs-btn {
    position: relative;
    background: #483420;
    border: 1px solid #483420;
    cursor: pointer;
    width: 100px;
    height: 40%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease 1s;
}


.buy-souvenirs-btn p {
    color: #F4EAE2;
    font-family: 'Oswald', sans-serif;
    font-size: 0.7vw;
    background: transparent;
    background: #483420;
    transition: all ease 1s;
}

.buy-souvenirs-btn:hover {
    border: 1px solid #483420;
}

.buy-souvenirs-btn:hover, .buy-souvenirs-btn:hover p {
    background: #F4EAE2;
    color: #483420;
}

