main {
    z-index: 1;
}

nav {
    font-family: var(--ui-font);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.menu-hamburger::before,
.menu-hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 5px;
    background: #483420;
    border-radius: 50px;
    transition: all ease 0.5s;
}

.menu-hamburger::before {
    transform: translate(-12px, -8px);
}

.menu-hamburger::after {
    transform: translate(-12px, 3px);
    /* border-bottom */
}

.buy-souvenirs-btn a {
    text-decoration: none;
}

.buy-souvenirs-btn {
    position: relative;
    background: #483420;
    border: 1px solid #483420;
    cursor: pointer;
    width: 100px;
    height: 40%;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease 1s;
}

.buy-souvenirs-btn p {
    color: #F4EAE2;
    font-family: var(--ui-font);
    font-size: 12px;
    background: transparent;
    background: #483420;
    transition: all ease 1s;
}

.buy-souvenirs-btn:hover {
    border: 1px solid #483420;
}

.buy-souvenirs-btn:hover, .buy-souvenirs-btn:hover p {
    background: #F4EAE2;
    color: #483420;
}

nav .mega-dropdown-menu {
    background: #988D7C;
    border: none;
    border-radius: 0px;
    border-top: 5px solid #483420;
    line-height: 1.6rem;
    min-height: 150px;
    padding: 5px;
    /* Curtan reveal effect */
    transition: transform 0.5s ease;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    transform: translateY(-70%) scale(0.9);
}

nav[data-active="true"] .mega-dropdown-menu {
    transform: translateY(0);
}

nav[data-active="false"] ~ * {
    transition: all 0.5s ease;
}

nav[data-active="true"] ~ * {
    filter: blur(5px);
    transform: translateY(var(--dropdown-height));
}

body:has(nav[data-active="true"]) {
    height: 100%;
    overflow: hidden;
}

nav .dropdown-menu {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
    display: flex;
    /* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
    margin: auto;
    font-size: 14px;
    text-align: left;
}

.dropdown-menu #menu-list {
    box-sizing: border-box;
    width: 100%;
    height: 80%;
    margin: auto;
    padding: 0;
    /* list-style: none; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
}
.dropdown-menu #menu-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
.dropdown-menu .menu-item {
    display: inline-block;
    margin: 10px;
}

.dropdown-menu a {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 10px;
    padding: 5vh;
    
    text-decoration: none;
    color: #483420;
    font-size: 3vh;
    font-weight: bold;
    font-family: var(--ui-font);
}

.dropdown-menu a:hover {
    border-left: 5px solid #483420;
}
.dropdown-menu > #menu-list a:hover > .menu-background {
    opacity: 0.2;
}

.dropdown-menu a:active {
    color: #ce9b69;
    border-left: 5px solid #ce9b69;
}

.dropdown-menu > #menu-list  .menu-background {
    background-color: #967350;
    background-size: cover;
    background-position: center;
    opacity: 0;
    box-sizing: border-box;
    width: 150%;
    height: 150%;
    transform: translate(-20%, -20%);
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.dropdown-menu > #menu-list > .menu-item:nth-child(1) .menu-background {
    background-image: url("../images/hoian.jpg");
}
.dropdown-menu > #menu-list > .menu-item:nth-child(2) .menu-background {
    background-image: url("../images/independence-tank.jpg");
}
.dropdown-menu > #menu-list > .menu-item:nth-child(3) .menu-background {
    background-image: url("../images/vietnam-ancient-map.jpg");
}
.dropdown-menu > #menu-list > .menu-item:nth-child(4) .menu-background {
    background-image: url("../images/com-bat-trang.jpg");
}