@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700;900&family=Raleway:wght@100;300;500;700&display=swap');

:root {
    /* --bodyBack: #F4EAE2; */
    --textColor: #483420;
    --starColor: #f67034;
    --sectionBack: #f7f6f9;
}

main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    /* background-color: var(--bodyBack); */
    min-height: 100vh;
    display: grid;
    place-content: center;
    position: relative;

}
.products-container {
    width: 80vw;
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header {
    width: 100%;
    text-align: center;
}
.header h1 {
    font-size: 4em;
    text-transform: uppercase;
    color: var(--textColor);
}
.products {
    width: 100%;
    align-self: center;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product {
    position: relative;
    background-color: var(--sectionBack);
    width: 250px;
    height: 100%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 10px;
    transition: .3s;
}

.product:hover {
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.product-img {
    width:100%;
    height: 60%;
    display: flex;
    place-content: center;

}
.product-img img {
    height: 150px;
    border-radius: 5px;
    position: absolute;
    align-items: center;
    width: auto;
}
.namePrice {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.namePrice h3 {
    font-size: 25px;
    text-transform: capitalize;
    color: var(--textColor);
}
.namePrice span {
    font-size: 1.5em;
    color: var(--starColor);
}
.product p {
    font-size: 18px;
    line-height: 25px;
}

.buy {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.buy button {
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    background-color: var(--textColor);
    color: var(--sectionBack);
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
}

.buy button:hover {
    transform: scale(1.1);
}



